.icon-bottom {
    position:relative;
    z-index:0;
}

.icon-top {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 35%;

}
.icon-task{
    position: absolute;
    z-index: 1;
    top: 12%;
    left: 35%;
}