#username {

  background: rgb(255, 255, 255) url(/CRM-SignUp/Sign\ Up\ -\ CRM\ SIgnup@2x.png) left no-repeat;
  padding-left: 20px;
}


#socialimg{
  width: auto;
  height: 40px;
}

.col h6 {
  margin-top: 50px;
}

#username{

  background: white url(/CRM-SignUp/username-small.jpg) left no-repeat;
  padding-left: 40px;
}

#email {

  background: white url(/CRM-SignUp/small-email.jpg) left no-repeat;
  padding-left: 40px;
}

#password {

  background: white url(/CRM-SignUp/lock-small.jpg) left no-repeat;
  padding-left: 40px;
}
