html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

 
.bluebg{
    clip-path: ellipse(59% 100% at 32% 14%);
}

#username{

    background: white url(/CRM-SignUp/Page-1.png) left no-repeat;
    padding-left: 17px;
}

#email {

    background: white url(/CRM-SignUp/Page-1.png) left no-repeat;
    padding-left: 17px;
}

#password {

    background: white url(/CRM-SignUp/Page-1.png) left no-repeat;
    padding-left: 17px;
}