html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

 
.bluebg{
    clip-path: ellipse(59% 100% at 32% 14%);
}

#username{

    background: white url(/CRM-SignUp/username-small.jpg) left no-repeat;
    padding-left: 30px;
}

#email {

    background: white url(/CRM-SignUp/small-email.jpg) left no-repeat;
    padding-left: 30px;
}

#password {

    background: white url(/CRM-SignUp/lock-small.jpg) left no-repeat;
    padding-left: 30px;
}

#socialimg{
    width: auto;
    height: 40px;
}