html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

 
.bluebg{
    background-color: rgb(0, 0, 255);
    clip-path: ellipse(73% 100% at 21% 3%);
}

#username{

    background: white url(/CRM-SignUp/username-small.jpg) left no-repeat;
    padding-left: 40px;
}

#email {

    background: white url(/CRM-SignUp/small-email.jpg) left no-repeat;
    padding-left: 40px;
}

#password {

    background: white url(/CRM-SignUp/lock-small.jpg) left no-repeat;
    padding-left: 40px;
}

#socialimg{
    width: auto;
    height: 40px;
}